#contact {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 350px;
  line-height: 2em;
  border-radius: 3px;
  margin: 20px 0px;
}

#contact form input:last-child {
  margin-top: 30px;
}
