<section id="skills">
  <h3>SKILLS</h3>
  <div id="skills-container">
    <div>
      <h4>TECHNICAL SKILLS</h4>
      <div>
        <ul>
          <li>HTML5</li>
          <li>
            <progress value="70" max="100" class="meter"></progress>
          </li>
          <li>CSS3</li>
          <li>
            <progress value="50" max="100" class="meter"></progress>
          </li>
          <li>Javascript</li>
          <li>
            <progress value="30" max="100" class="meter"></progress>
          </li>
          <li>Angular</li>
          <li>
            <progress value="50" max="100" class="meter"></progress>
          </li>
          <li>SQL</li>
          <li>
            <progress value="72" max="100" class="meter"></progress>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <h4>LANGUAGES</h4>
      <div>
        <ul>
          <li>ENGLISH</li>
          <li>
            <progress value="90" max="100" class="meter"></progress>
          </li>
          <li>HINDI</li>
          <li>
            <progress value="54" max="100" class="meter"></progress>
          </li>
          <li>TAMIL</li>
          <li> <progress value="78" max="100" class="meter"> </progress></li>
        </ul>
      </div>

    </div>
  </div>


</section>
