<section id="portfolio">
  <h3>PORTFOLIO</h3>
  <p>Some of my best project so far</p><br><br>
  <hr>
  <div>
    <article>
      <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="photo"><br>
      <h4>PERSONAL BLOG</h4><br>
      <p>A blog where i pen my own thought on programming</p>
    </article>
    <article>
      <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="photo">
      <h4>TIC TAC TOE</h4>
      <p>A Tic Toc Toe Game to play using java GUI</p>
    </article>
    <article class="portfolio-box">
      <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="photo">
      <h4>TIME TABLE GENERATOR</h4>
      <p>A web page for automatic time table generator</p>
    </article>
  </div>
</section>
