<section id="bio">
  <img src="../../assets/IMG_20180916_124633_480.jpg" alt="">
  <article>
    <h2>Ranjith</h2>
    <p>I am a passionate Engieer with computer science and engineering background. <span class="break"></span>
      Seeking oppartunity in java full stack developer role. <span class="break"></span>
      Have solid understanding of HTML,CSS,Javascript,Spring,Hibernate,Java. <span class="break"></span>
      Fastly adopt the new technology trends.
    </p>
    <a href="#" class="nav-button">Download my resume</a>
  </article>
</section>
